# Build folders
x64/
Debug/
Release/
*.obj
*.pdb
*.ilk
*.idb
*.exe
*.log

# Visual Studio user-specific files
*.user
*.suo

# C++ cache
*.pch
*.ipch

# Temporary files
*.tmp
*.cache
.vs/
/Debug/
/Release/
/x64/
/x86/
*.obj
*.pdb
*.idb
*.ipch
*.suo
*.user
*.VC.db
*.VC.opendb
*.log
*.tlog
*.cache
*.ilk
*.exe
*.dll
*.lib
*.exp
